:root {
  --gruvbox-bg:   #282828;
  --gruvbox-fg:   #EBDBB2;
  --gruvbox-gray: #928374;
}

body {
  background-color: var(--gruvbox-bg);
  display: flex;
  justify-content: center;
}

#logo {
  line-height: 0.9;
}

#search-bar {
  outline: 4px solid var(--gruvbox-gray);
  padding: 10px;
  width: 100%;
}
